.button {
    display: inline-block;
    background-color: #61dafb;
    font-size: 0.9rem;
    border: none;
    margin-right: 0.3rem;
    padding: 0.5rem 0.9rem;
    transition: background-color, color 0.4s ease-out;
}

.primary {
    background-color: #61dafb;
}

.primary:hover {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.primary-arrow {
    background: none;
    color: #61dafb;
}

.primary-arrow:hover {
    color: #fff;
    cursor: pointer;
}

.primary-arrow:after {
    content: ">";
    margin-left: 0.3rem;
}